.navbarWrapper {
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 25px;
  transition: background-color 0.5s;
  z-index: 1;
}

.navbarItem {
  font-family: "Source Sans Pro";
  font-size: 21px;
  font-weight: 300;
  line-height: 1;
  color: white;
  position: relative;
}

.navbarItemUnder {
  width: 0%;
  height: 1px;
  background-color: white;
  position: relative;
  top: 2px;
}

.navbarSocial {
  color: white;
  display: flex;
  align-items: center;
}

.scroll {
  background-color: white;
}

.scroll2 {
  color: black;
}

.scroll3 {
  background-color: black;
}
