.navbarItemOutline {
  border: white;
  border-style: solid;
  border-width: 1px;
  width: 85px;
  height: 26px;
  position: absolute;
}

.navbarItem {
  font-family: "Source Sans Pro";
  font-size: 21px;
  font-weight: 300;

  line-height: 1;
}

#navbarWrapper {
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 30px;
}

#navbarSocialContent {
  margin-left: auto;
}
